.GroceryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 5px auto;
    padding: 10px 15px;
    background-color: #146642;
    color: white;
}

.GroceryItem > button {
    padding: 5px 7px;
    background-color: #B31A00;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
}

.GroceryItem > button:hover {
    color: #146642;
}

