.RecipeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5px auto;
    padding: 10px 15px;
    background-color: grey;
}

.RecipeItem > button {
    padding: 5px 7px;
}

@media screen and (min-width: 568px) {
    .RecipeItem {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .RecipeItem {
        width: 45%;
    }
}