.FridgeItemMain {
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FridgeItemMain > h4 {
    font-size: 25px;
    color: #146642;
}

.FridgeItemMain > .expiration-date {
    padding: 10px 15px;
    font-weight: 500;
}

.FridgeItemMain > .note {
    width: 75%;
    margin-top: 25px;
}

.FridgeItemMain > .note > .note-content {
    width: 100%;
    background-color: #CB4B2E;
    min-height: 150px;
    padding: 10px 15px;
    color: white;
}

.FridgeItemMain > .note > .note-controller {
    width: 60%;
    margin: 5px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.FridgeItemMain > .note > .note-controller button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    background-color: #B31A00;
    color: white;
}

.FridgeItemMain > .note > .note-controller button:hover {
    color: #146642;
}

@media screen and (min-width: 568px) {
    .FridgeItemMain > .note {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    @media screen and (min-height: 900px) {
        .FridgeItemMain > .note {
            width: 40%;
            height: 200px;
        }
    }
}