.add-pantry-item-background {
    background: url(../Pantry.jpg) 
        no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;

    background-blend-mode: multiply;
    background-color: #808080;
    margin: -20px auto;
}

.AddPantryItem {
    padding-top: 30px;
}

.AddPantryItem > h3 {
    text-align: center;
    color: white;
}

.AddPantryItem > form {
    padding: 15px;
    width: 75%;
    margin: 0 auto;
}

.AddPantryItem > form > .alert {
    color: red;
    margin: 0 0 10px;
    font-weight: 900;
}

.AddPantryItem > form > #exp-date,
.AddPantryItem > form > label {
    color: white
}

.AddPantryItem > form > label,
.AddPantryItem > form > #exp-date,
.AddPantryItem > form > input,
#itemCategory, #itemContent {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}

.AddPantryItem > form > label {
    font-weight: 500;
}

.AddPantryItem > form > input,
#itemCategory, #itemContent {
    padding: 5px 7px;
}

#itemCategory > option {
    width: 100%;
}

#itemContent {
    height: 80px;
}

.AddPantryItem > form > button {
    padding: 5px 7px;
    width: 100px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    background-color: #B31A00;
}

.AddPantryItem > form > button:hover {
    color: #146642;
}

@media screen and (min-width: 568px) {
    .AddPantryItem > form {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .AddPantryItem > form {
        width: 30%;
    }
}