.AddPantryItem > h3 {
    text-align: center;
}

.AddPantryItem > form {
    padding: 15px;
    width: 75%;
    margin: 0 auto;
}

.AddPantryItem > form > label,
.AddPantryItem > form > input,
#itemCategory, #item-content {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}

.AddPantryItem > form > input,
#itemCategory, #item-content {
    padding: 5px 7px;
}

#itemCategory > option {
    width: 100%;
}

#item-content {
    height: 80px;
}

.AddPantryItem > form > button {
    padding: 5px 7px;
    width: 100px;
}

@media screen and (min-width: 568px) {
    .AddPantryItem > form {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .AddPantryItem > form {
        width: 30%;
    }
}