.AddFridgeItem > form {
    padding: 15px;
}

.AddFridgeItem > form > label,
.AddFridgeItem > form > input,
#itemCategory, #item-content {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}

#itemCategory > option {
    width: 100%;
}

#item-content {
    height: 80px;
}