.registration-background {
    background: url(../LoginForm/Login-Register.jpg) 
        no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;

    background-blend-mode: multiply;
    background-color: #808080;
    margin: -20px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegistrationForm {
    padding-top: 30px;
}

.RegistrationForm legend {
    font-weight: 500;
    color: white;
}

.registration_form {
    background-color: #146642;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.registration_form > legend {
    text-align: center;
}

.registration_form > div {
    margin-top: 5px;
}

.registration_form > div > label {
    color: white;
}

.registration_form > button {
    width: 30%;
    margin-top: 10px;
    align-self: flex-end;
    padding: 5px 7px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    background-color: #B31A00;
}

.registration_form > button:hover {
    color: #146642;
}

.registration_form > .alert {
    color: red;
}