

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #006F46;
    height: 60px;

    flex-shrink: 0;

    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}

.nav-top > h1 {
    cursor: pointer;
}

.nav-top > h1 > a {
    color: white;
}

.nav-top > h1 > a:hover {
    color: #B31A00;
}

.sign_up_in {
    display: flex;
    flex-direction: column;
}

.sign_up_in > a,
.sign_out > a {
    color: white;
    font-weight: 500;
}

.sign_up_in > a:hover,
.sign_out > a:hover {
    color: #B31A00;
}

@media screen and (min-width: 568px) {
    .sign_up_in {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 130px;
    }
}