.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm legend {
    font-weight: 500;
    color: white;
}

.login_form {
    background-color: #146642;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.login_form > legend {
    text-align: center;
}

.login_form > div {
    margin-top: 5px;
}

.login_form > div > label {
    color: white;
}

.login_form > button {
    width: 30%;
    margin-top: 10px;
    align-self: flex-end;
    padding: 5px 7px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    background-color: #B31A00;
}

.login_form > button:hover {
    color: #146642;
}