.AddPantryCategory > h3 {
    text-align: center;
}

.AddPantryCategory > form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 75%;
    margin: 0 auto;
}

.AddPantryCategory > form > label,
.AddPantryCategory > form > input {
    margin-bottom: 10px;
}

.AddPantryCategory > form > input {
    padding: 5px 7px;
}

.AddPantryCategory > form > button {
    padding: 5px 7px;
    width: 100px;
}

@media screen and (min-width: 568px) {
    .AddPantryCategory > form {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .AddPantryCategory > form {
        width: 30%;
    }
}