.AddPantryCategory > h3 {
    text-align: center;
    color: #146642;
}

.AddPantryCategory > form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 75%;
    margin: 0 auto;
}

.AddPantryCategory > form > label,
.AddPantryCategory > form > input {
    margin-bottom: 10px;
}

.AddPantryCategory > form > label {
    font-weight: 500;
}

.AddPantryCategory > form > input {
    padding: 5px 7px;
}

.AddPantryCategory > form > button {
    padding: 5px 7px;
    width: 100px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    background-color: #B31A00;
}

.AddPantryCategory > form > button:hover {
    color: #146642;
}

@media screen and (min-width: 568px) {
    .AddPantryCategory > form {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .AddPantryCategory > form {
        width: 30%;
    }
}