.PantryItem {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 5px 7px;
    padding: 10px;
}

.PantryItem > .controller {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.PantryItem > .controller > button {
    padding: 3px;
}

@media screen and (max-width: 400px) {
    .PantryItem > .controller > .item-modified-date {
        font-size: 14px;
        margin-right: 2px;
    }
}

@media screen and (min-width: 700px) {
    .PantryItem {
        width: 60%;
    }
}