.PantryItemMain {
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PantryItemMain > .note {
    width: 100%;
    margin-top: 25px;
}

.PantryItemMain > .note > .note-content {
    width: 100%;
    background-color: grey;
    min-height: 100px;
    padding: 10px 15px;
}

.PantryItemMain > .note > .note-controller {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.PantryItemMain > .note > .note-controller > button {
  padding: 5px 10px;
}