.FridgeFilter button {
    margin-left: 7px;
    padding: 5px 10px;
    background-color: #B31A00;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

.FridgeFilter button:hover {
    color: #146642;
}