.FridgeItem {
    display: flex;
    flex-direction: column;
    background-color: #146642;
    margin: 5px 7px;
    padding: 10px;
}

.FridgeItem a {
    color: white;
}

.FridgeItem a:hover {
    color: #B31A00;
}

.FridgeItem > .controller {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.FridgeItem > .controller > .item-modified-date {
    color: rgb(192, 186, 186);
}

.FridgeItem > .controller > button {
    padding: 3px;
    color: white;
    font-weight: 700;
    background-color: #B31A00;
    border: none;
}

.FridgeItem > .controller > button:hover {
    color: #146642;
}

@media screen and (max-width: 400px) {
    .FridgeItem > .controller > .item-modified-date {
        font-size: 14px;
        margin-right: 2px;
    }
}

@media screen and (min-width: 700px) {
    .FridgeItem {
        width: 60%;
    }
}