.grocery-background {
    background: url(Grocery.jpg) 
        no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;

    background-blend-mode: multiply;
    background-color: #808080;
    margin: -20px auto;
}

.Grocery {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.Grocery > h2 {
    text-align: center;
    padding: 15px;
    color: white;
}

.Grocery button {
    padding: 5px 10px;
    background-color: #B31A00;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

.Grocery button:hover {
    color: #146642;
}

@media screen and (min-width: 568px) {
    .Grocery {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .Grocery {
        width: 45%;
    }
}